RUN_NAMES="wacmfozmstt wacmfozmsttz wacmfozmsttzz wacmfozmsttzzz wacmfozzmstt wacmfozzmsttz wacmfozzmsttzz wacmfozzmsttzzz wacmfozzzmstt wacmfozzzmsttz wacmfozzzmsttzz wacmfozzzmsttzzz"

MESSAGE_SIZES_BASE=32
MESSAGE_SIZE_RUNS=4

MESSAGE_FREQUENCY_BASE=10

ROUND_RUN_TIME=30

WITH_CILIUM_METRICS=true

VOLUME_FOLDER=volume_ams3_01/data
HOST_NAME=ubuntu-m-2vcpu-16gb-ams3-01